@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --opacity: 60;
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --opacity: 10;
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
.boss-progress-rect-widget.lang--en{
  position: unset;
}

/* .homepage-image{
  background-image: url('./the-soul-hunters.png');
  position: absolute;
} */
.uranium-banner{
  /* background-image: linear-gradient(
    0deg,
    hsl(154deg 100% 5%) 0%,
    hsl(153deg 100% 6%) 6%,
    hsl(151deg 100% 8%) 13%,
    hsl(149deg 96% 9%) 21%,
    hsl(148deg 96% 10%) 29%,
    hsl(146deg 96% 11%) 38%,
    hsl(144deg 94% 12%) 48%,
    hsl(143deg 94% 13%) 56%,
    hsl(141deg 92% 14%) 64%,
    hsl(139deg 92% 15%) 70%,
    hsl(137deg 90% 16%) 75%,
    hsl(136deg 91% 17%) 79%,
    hsl(134deg 89% 19%) 82%,
    hsl(133deg 88% 20%) 85%,
    hsl(131deg 87% 21%) 87%,
    hsl(130deg 87% 22%) 89%,
    hsl(128deg 86% 23%) 91%,
    hsl(126deg 85% 24%) 93%,
    hsl(124deg 84% 25%) 94%,
    hsl(123deg 83% 26%) 95%,
    hsl(122deg 83% 27%) 96%,
    hsl(119deg 82% 28%) 98%,
    hsl(119deg 80% 29%) 98%,
    hsl(117deg 79% 31%) 99%,
    hsl(115deg 79% 32%) 100%
  ); */

  background-image: linear-gradient(
    350deg,
    hsl(154deg 100% 5%) 1%,
    hsl(153deg 100% 6%) 24%,
    hsl(151deg 100% 8%) 31%,
    hsl(149deg 96% 9%) 37%,
    hsl(148deg 96% 10%) 42%,
    hsl(146deg 96% 11%) 46%,
    hsl(144deg 94% 12%) 50%,
    hsl(143deg 94% 13%) 53%,
    hsl(141deg 92% 14%) 56%,
    hsl(139deg 92% 15%) 59%,
    hsl(137deg 90% 16%) 63%,
    hsl(136deg 91% 17%) 65%,
    hsl(134deg 89% 19%) 68%,
    hsl(133deg 88% 20%) 71%,
    hsl(131deg 87% 21%) 74%,
    hsl(130deg 87% 22%) 77%,
    hsl(128deg 86% 23%) 79%,
    hsl(126deg 85% 24%) 82%,
    hsl(124deg 84% 25%) 85%,
    hsl(123deg 83% 26%) 87%,
    hsl(122deg 83% 27%) 90%,
    hsl(119deg 82% 28%) 92%,
    hsl(119deg 80% 29%) 95%,
    hsl(117deg 79% 31%) 97%,
    hsl(115deg 79% 32%) 100%

    
  );

  /* filter: blur(4px); */
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
